@import "styles.css";
 /* contancts */
.contacts {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    justify-content: space-evenly;
}
.contacts > div {
    text-align: center;
}
/* credits */
#pic-credits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
#pic-credits > a {
    margin-left: 10px;
    color: black;
}
#pic-credits > p {
    margin-top: 10px;
}
/* media query */
@media only screen and (min-width: 375px){

}
@media only screen and (min-width: 425px){

}
@media only screen and (min-width: 768px){
    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media only screen and (min-width: 1024px){

}