@import "styles.css";

.headquarter {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 20px;
}
.headquarter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.data-form {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.data-form > form {
    flex: 1;
}
.data-display {
    flex: 1;
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: 40px 30px 30px 30px auto;
}
.data-display > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}