@import "styles.css";
/* headquarter */
.headquarter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
    margin-top: 20px;
}
.headquarter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.headquarter > div > img {
    width: 150px;
}
/* form */
.data-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}
.data-form > form {
    flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
input, textarea {
    background-color: #e8f5fe;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}
.form-submit {
    color: azure;
    background-color: #1b6cb4;
    border: 1px solid #1b6cb4;
    border: px;
    padding: 10px;
    font-weight: 550;
    font-size: medium;
    text-align: center;
    width: 180px;
    margin-left: 0px;
}
.form-submit:hover {
    background-color: azure;
    color: #1b6cb4;
}
/* display */
.data-display {
    flex: 1;
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: 40px 30px 30px 30px auto;
}
.data-display > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
/* media query */
@media only screen and (min-width: 375px){

}
@media only screen and (min-width: 425px){

}
@media only screen and (min-width: 768px){
    .headquarter {
        flex-direction: row;
    }
    .data-form {
        flex-direction: row;
    }
}
@media only screen and (min-width: 1024px){

}